nz-form-item{
    display: flex;
    justify-content: flex-start;
}

.formInputItem{
    /* position: relative;
    left: -45px; */
}

.signUpForm-content__form-label--required::before{
    content: "*";
    position: relative;
    color: red;
}

.formInput_error{
    color: rgb(222, 34, 34);
    display: block;
    margin: auto;
    position: relative;
    left: 25%;
    top: -17px;
}


.signUpForm{
    position: relative;
    top: 10%;
}

.signUpForm-header{
    margin: auto;
    font-weight: 500;
    font-size: 2rem;
}

.signUpForm-content{
    margin: auto;
    padding: 2rem;
    width: 700px;
}

.signUpForm-content__form{
    margin: auto;
    width: 263%;
    position: relative;
    left: -38px;
    top: -17px;
}

.signUpForm-content__form-input{
    min-width: 65% !important;
    max-width: 65% !important;
    height: 3rem;
}

.signUpForm-content__submit{
    margin: auto;
    display: block;
}

.signUp{
    display: flex;
    justify-content: center;
}

.signUp_textCommon{
    position: relative;
    left: 252px;
}